$color-title: #000000;
$color-secondary-text: #333333;
$color-inverted: #81b3d2;

$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-big: 21px;
$font-size-huge: 30px;

$font-family-primary: "PT Sans", "Arial", sans-serif;

$border-card: 1px solid #d6d6d6;
$border-color-primary: 1px solid #e5e5e5;

$width-tablet: 768px;
$width-desktop: 1200px;
