$color-secondary-text: #333333;
$color-inverted: #81b3d2;
$color-primary: #ffffff;
$color-dark: #000000;
$color-background-light: #f2f2f2;
$color-special-light: #eaeaea;
$color-background-secondary: #eeeeee;
$color-card-secondary: #d6d6d6;
$color-photo-info: rgba(0, 0, 0, 0.4);

$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-big: 21px;
$font-size-huge: 30px;

$font-family-primary: "PT Sans", "Arial", sans-serif;

$border-card-secondary: 1px solid $color-card-secondary;
$border-primary: 1px solid #e5e5e5;

$width-tablet: 768px;
$width-desktop: 1200px;
$width-smartphone: 320px;
$width-bigger-smartphone: 321px;
$width-bigger-tablet: 769px;
$width-less-tablet: 767px;
