.advantages__list {
  @include reset-list;
}

.advantages__item {
  &--bridge {
    @media (min-width: $width-tablet) {
      display: flex;
    }
  }

  &--wide {
    @media (min-width: $width-tablet) {
      display: flex;
    }
  }

  &--group {
    @media (min-width: $width-tablet) {
      display: flex;
    }
  }
}

.advantages__card {
  padding: 61px 27px 45px 28px;

  @media (min-width: $width-tablet) {
    order: -1;
    padding: 46px 47px 49px 47px;
    flex-basis: 162px;
    height: 161px;
  }

  @media (min-width: $width-desktop) {
    flex-basis: 265px;
    height: 140px;
    padding: 53px 67px 63px 68px;
  }

  &--bridge {
    padding: 45px 31px 42px 30px;

    @media (min-width: $width-tablet) {
      order: 1;
    }
  }

  &--square {
    padding: 33px 41px 32px 41px;
  }

  &--road {
    padding: 33px 56px 32px 57px;
  }

  &--tourists {
    padding: 33px 37px 32px 37px;
  }
}

.advantages__photo {
  @media (min-width: $width-tablet) {
    height: 256px;
    width: 512px;
  }

  @media (min-width: $width-desktop) {
    width: 800px;
  }
}
