.button {
  &--inverted {
    @include text-style;
    background-color: $color-inverted;
    border: none;
    color: $color-primary;
    font-size: $font-size-big;
    font-weight: bold;
    line-height: 1.24;
  }
}
