.card {
  &--inverted {
    background-color: $color-inverted;
  }

  &--secondary {
    background-color: $color-background-secondary;
    border-bottom: $border-card-secondary;

    @media (min-width: $width-tablet) {
      border: none;
      flex-grow: 1;
    }

    @media (min-width: $width-desktop) {
      margin-left: 15px;
    }
  }
}

.card__title {
  @include text-style;
  margin: 0;
  font-size: $font-size-medium;
  font-weight: bold;
  line-height: 1.44;
  text-transform: uppercase;
  color: $color-dark;
  margin-bottom: 30px;

  &--inverted {
    color: $color-primary;

    br {
      display: none;
    }

    @media (min-width: $width-desktop) {
      br {
        display: initial;
      }
    }
  }

  &--hotel {
    font-size: $font-size-big;
    font-weight: bold;
    line-height: 1.24;
    margin-bottom: 21px;

    @media (min-width: $width-tablet) {
      margin-bottom: 31px;
    }
  }

  &--video {
    margin-bottom: 32px;
  }

  &--advantage {
    margin-bottom: 9px;

    br {
      display: none;
    }

    @media (min-width: $width-tablet) {
      font-size: $font-size-big;
      line-height: 1.24;

      br {
        display: initial;
      }
    }

    @media (min-width: $width-desktop) {
      width: 150px;
    }
  }

  &--definition {
    @media (min-width: $width-tablet) {
      font-size: $font-size-big;
      margin-bottom: 22px;
    }
  }

  &--huge {
    @media (min-width: $width-tablet) {
      font-size: $font-size-huge;
      line-height: 0.87;
    }
  }

  &--multimedia {
    margin-bottom: 28px;

    @media (min-width: $width-tablet) {
      margin-bottom: 31px;
    }
  }

  &--review {
    margin-bottom: 27px;

    @media (min-width: $width-tablet) {
      margin-bottom: 33px;
    }
  }
}

.card__text {
  @include text-style;
  margin: 0;
  font-size: $font-size-small;
  font-weight: normal;
  line-height: 1.5;
  color: $color-secondary-text;
  text-transform: uppercase;

  br {
    display: none;
  }

  @media (min-width: $width-tablet) {
    br {
      display: initial;
    }
  }

  &--inverted {
    color: $color-primary;

    @media (min-width: $width-desktop) {
      width: 265px;
    }
  }

  &--bridge {
    @media (min-width: $width-desktop) {
      width: 215px;
    }
  }

  &--definition {
    line-height: 1.86;
  }

  &--large {
    line-height: 1.71;
  }

  &--hotel {
    margin-bottom: 37px;

    @media (min-width: $width-tablet) {
      margin-bottom: 43px;
    }

    @media (min-width: $width-desktop) {
      margin-bottom: 47px;
    }
  }

  &--square {
    @media (min-width: $width-tablet) {
      width: 159px;
    }

    @media (min-width: $width-desktop) {
      width: 285px;
    }
  }

  &--tourist {
    @media (min-width: $width-tablet) {
      width: 159px;
    }

    @media (min-width: $width-desktop) {
      width: 260px;
    }
  }

  &--road {
    @media (min-width: $width-tablet) {
      width: 132px;
    }

    @media (min-width: $width-desktop) {
      width: 262px;
    }
  }

  &--secondary {
    @media (min-width: $width-tablet) {
      margin-bottom: 16px;
    }
  }
}

.card__number {
  @include text-style;
  font-size: $font-size-small;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-top: 0;
  text-transform: uppercase;

  &--inverted {
    color: $color-primary;

    @media (min-width: $width-tablet) {
      margin-bottom: 22px;
    }
  }

  &--secondary {
    color: $color-secondary-text;
    margin-bottom: 16px;

    @media (min-width: $width-tablet) {
      margin-bottom: 22px;
    }
  }
}

.card__mask {
  top: 0;

  @media (min-width: $width-tablet) {
    display: none;
  }
}
