.definition__card {
  padding: 39px 30px 5px 30px;
  background-color: $color-primary;

  @media (min-width: $width-tablet) {
    padding: 48px 137px 50px 135px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 355px;
    padding-right: 355px;
  }
}
