.footer {
  height: 233px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 120px;
  }
}

.footer__hash {
  @include text-style;
  font-size: $font-size-big;
  font-weight: bold;
  line-height: 1.24;
  color: #000000;
  padding-top: 31px;
  margin-bottom: 41px;
  display: inline-block;

  @media (min-width: $width-tablet) {
    margin: 0;
    padding: 0;
  }
}

.footer__links {
  margin-bottom: 40px;

  @media (min-width: $width-tablet) {
    margin: 0;
  }
}

.footer__developer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto 25px;

  @media (min-width: $width-tablet) {
    margin: 0;
  }
}

.footer__text {
  @include text-style;
  vertical-align: middle;
  font-size: $font-size-small;
  font-weight: normal;
  line-height: 1.86;
}

.footer__developer-icon {
  margin-left: 11px;
}
