.form {
  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop) {
    justify-content: space-around;
  }
}

.form__item {
  @media (min-width: $width-tablet) {
    &--places {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 150px;
      align-items: center;
    }
  }

  @media (min-width: $width-desktop) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    &--places {
      height: 100px;
    }
  }
}

.form__item-wrapper {
  border-top: 1px solid #e5e5e5;
  text-align: left;

  @media (min-width: $width-tablet) {
    border: none;
    margin-bottom: 60px;

    &--feedback {
      order: -1;
    }

    &--contact {
      flex-basis: 100%;
    }

    &--places {
      flex-basis: 100%;
    }

    &--textarea {
      text-align: center;
      flex-basis: 100%;
    }
  }
}

.form__item-title {
  @include text-style;
  margin-top: 24px;
  margin-bottom: 0;
  font-size: $font-size-medium;
  font-weight: bold;
  line-height: 1.44;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    font-size: $font-size-big;
    line-height: 1.24;
    margin-top: 0;
    margin-bottom: 60px;

    &--feedback {
      text-align: left;
      margin-bottom: 60px;
    }

    &--naming {
      text-align: left;
      margin-bottom: 60px;
    }
  }

  @media (min-width: $width-desktop) {
    &--places {
      margin-bottom: 0;
    }
  }
}

.form__group {
  display: flex;
  align-items: center;

  &--radio {
    margin-top: 32px;
    height: 46px;
  }

  &--checkbox {
    height: 46px;
    margin-top: 24px;
  }

  &--naming {
    justify-content: space-between;
    margin-top: 25px;
  }

  &--contact {
    flex-direction: column;
  }

  &--text-area {
    flex-direction: column;
  }

  @media (min-width: $width-tablet) {
    &--radio {
      margin-top: 25px;
      height: 60px;
    }
  }

  @media (min-width: $width-desktop) {
    &--contact {
      flex-direction: row;
    }
  }
}

.form__group-wrapper {
  @media (min-width: $width-desktop) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.form__label {
  @include text-style;
  font-size: $font-size-small;
  font-weight: normal;
  line-height: 1.86;
  display: inline-block;
  text-transform: uppercase;

  &--contact {
    margin: 29px auto 14px 22px;
  }

  &--email {
    margin-top: 20px;
    display: inline-block;
  }

  &--radio {
    text-transform: none;
    font-size: $font-size-medium;
    font-weight: bold;
    line-height: 1.44;
  }

  &--checkbox {
    text-transform: none;
    font-size: $font-size-medium;
    font-weight: bold;
    line-height: 1.44;
  }

  @media (min-width: $width-tablet) {
    &--firstname {
      margin-right: 14px;
    }

    &--lastname {
      margin-right: 14px;
    }

    &--patronymic {
      margin-right: 14px;
    }
  }
}

.form__field {
  height: 58px;
  background-color: #f2f2f2;
  border: none;

  &--naming {
    width: 192px;
  }

  &--firstname {
    width: 230px;
  }

  &--contact {
    width: 280px;
  }

  &--radio {
    margin: -1px 27px 0 5px;
  }

  &--checkbox {
    margin: -1px 29px 0 5px;
  }

  &--about-area {
    width: 279px;
    height: 160px;
    margin-top: 21px;
    margin-bottom: 51px;
  }

  @media (min-width: $width-tablet) {
    &--contact {
      width: 100%;
    }

    &--naming {
      margin: 0;
    }

    &--about-area {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  @media (min-width: $width-desktop) {
    &--contact {
      width: 316px;
    }
  }
}

.form__submit {
  width: 100%;
  text-align: center;
  margin-bottom: 47px;

  @media (min-width: $width-tablet) {
    text-align: left;
  }
}

.form__button {
  width: 280px;
  height: 58px;
  margin: 0 auto;
  padding: 0;
}
