.header {
  text-align: center;
  position: relative;

  @media (min-width: $width-tablet) {
    min-height: 56px;
  }
}

.header__wrapper {
  min-height: 56px;
  position: relative;

  @media (min-width: $width-tablet) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    width: 102px;
  }
}

.header__button {
  background: url("../../img/icon-menu.svg") no-repeat 50% 50%;
  width: 23px;
  height: 21px;
  border: none;
  top: 24px;
}
