.hotel-search {
  background-color: $color-primary;
}

.hotel-search__card {
  padding: 27px 20px 49px 20px;

  @media (min-width: $width-tablet) {
    padding: 57px 155px 58px 155px;
  }

  @media (min-width: $width-desktop) {
    padding: 57px 371px 66px 371px;
  }
}

.hotel-search__link {
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  padding: 16px 30px 16px 28px;
  color: $color-primary;
  display: block;
  font-size: $font-size-big;
  line-height: 1.24;
  text-transform: uppercase;
}

.hotel-search__map {
  @media (min-width: $width-tablet) {
    height: 350px;
    width: 768px;
  }

  @media (min-width: $width-desktop) {
    width: 1200px;
  }
}
