.hotel-search__card {
  padding: 33px 20px 49px 20px;
}

.hotel-search__link {
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  padding: 17px 47px 19px 47px;
  color: #ffffff;
  display: block;
}
