.main__banner {
  background: url("../../img/bg-back-mobile@1x.jpg") no-repeat 50% 50%;
  text-align: center;
  height: 158px;
  line-height: 158px;
}

.main__banner-photo {
  vertical-align: middle;
}
