.main-nav {
  position: relative;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;

  @media (min-width: $width-desktop) {
    width: 1200px;
  }
}

.main-nav__list {
  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: row;
  }
}

.main-nav__button {
  background: url("../../img/icon-cross.svg") no-repeat 50% 50%;
  width: 23px;
  height: 22px;
  border: none;
}
