.review {
  background-color: $color-primary;
}

.review__card {
  background-color: $color-primary;
  padding: 38px 21px 20px 23px;

  @media (min-width: $width-tablet) {
    padding: 73px 165px 57px 164px;
  }

  @media (min-width: $width-desktop) {
    padding: 110px 381px 41px 380px;
  }
}
