.social__list {
  @include reset-list;
}

.social__item {
  display: inline-block;
}

.social__link {
  text-decoration: none;
}

.social__icon {
  background-color: $color-inverted;

  &--tw {
    padding: 17px 14px;
  }

  &--fc {
    padding: 14px 19px 16px 19px;
  }

  &--yt {
    padding: 17px 13px;
  }
}
