.video {
  position: relative;

  @media (min-width: $width-tablet) {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.video__player-photo {
  @media (min-width: $width-tablet) {
    height: 499px;
    width: 100%;
  }
}

.video__menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: -49px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  justify-content: space-between;
  align-items: center;
  background-color: $color-background-light;

  @media (min-width: $width-tablet) {
    width: 648px;
    margin-top: -95px;
    height: 93px;
    opacity: 0.6;
    background-color: $color-dark;
  }

  @media (min-width: $width-desktop) {
    width: 800px;
  }
}

.video__button-group {
  display: flex;
  position: absolute;
  height: 55px;
  width: 280px;
  justify-content: space-between;
}

.video__button {
  border: none;
  padding: 10px;
  background-color: $color-background-light;

  &--replay {
    padding-left: 25px;
    margin-right: auto;

    @media (min-width: $width-tablet) {
      order: -1;
      margin: 0;
      padding: 0;
      padding-left: 35px;
    }
  }

  &--subtitles {
    padding-right: 31px;
  }

  &--fullscreen {
    padding-right: 23px;

    @media (min-width: $width-tablet) {
      padding-rigth: 41px;
    }
  }

  &--transparant {
    @media (min-width: $width-tablet) {
      opacity: 0.6;
      background-color: $color-dark;
    }
  }
}

.video__slider {
  width: 235px;
  height: 3px;
  border: none;
  outline: none;
  padding: 22px 23px 20px 23px;
  margin: 0;
  opacity: 0.6;
  background-color: $color-dark;

  @media (min-width: $width-tablet) {
    width: 389px;
  }
}
