.welcome {
  height: 390px;
  text-align: center;
  background: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $width-tablet) {
    height: 518px;
    background: url("../../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: $width-desktop) {
    background: url("../../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.welcome__banner {
  margin-top: 90px;
}
