.header__wrapper {
  height: 56px;
  text-align: center;
  position: relative;
}

.header__logo-image {
  object-fit: contain;
  mix-blend-mode: undefined;
}

.header__button {
  background: url("../img/icon-menu.svg") no-repeat 50% 50%;
  width: 23px;
  height: 21px;
  border: none;
}
