@import "./utils/font.scss";
@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/menu-list.scss";
@import "./blocks/welcome.scss";
@import "./blocks/definition.scss";
@import "./blocks/card.scss";
@import "./blocks/advantages.scss";
@import "./blocks/recommendations.scss";
@import "./blocks/hotel-search.scss";
@import "./blocks/footer.scss";
@import "./blocks/social.scss";
@import "./blocks/main.scss";
@import "./blocks/multimedia.scss";
@import "./blocks/video.scss";
@import "./blocks/form.scss";
@import "./blocks/review.scss";
@import "./blocks/button.scss";
@import "./blocks/toogle-button.scss";
@import "./blocks/page-form.scss";
@import "./blocks/mask.scss";
@import "./normalize.css";

html,
body {
  min-width: 320px;
  font-family: $font-family-primary;
  background-color: $color-background-light;

  @media (min-width: $width-desktop) {
    max-width: 1200px;
    margin: 0 auto;
  }
}
